:root {
    --fondo-color: rgb(255, 255, 255);
}

* {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

header {
    height: 40px;
    background-color: var(--fondo-color);
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid black;
    display: flex;
}

.logo {
    margin: 10px 30px;
    width: 5%;
    float: left;
}

nav {
    width: 85%;
    float: left;
    font-size: 20px;
    margin-top: 10px;

}

nav li {
    display: inline;
    padding: 0px 10px;
    /* border: 2px solid black; */
}

nav a:hover {
    color: black;
}

nav a {
    text-decoration: none;
    color: rgb(103, 103, 103)
}

.busqueda {
    width: 50px;
    height: 50px;
    float: right;
    color: black;
    margin: 0px 50px 10px;
}




/* flex, float y grids */