:root{
    --color-azul-principal: rgb(85, 101, 148);
    --color-azul-secundario: #00008b;
    --color-blanco: #f1f1f1;
    --fuente-titulos: helvetica, arial;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(139,155,201);
}

main {
    flex: 1;
}

header{
    width: 100%;
    height: 7vw;
    background-color: var(--color-azul-principal);
    display: flex;
    align-items: center;
    justify-content: center;

}

#imgPHP{
    display: flex;
    width: 30%;
    justify-content: center;
}

#imgPHP img{
    width: 11vw;
    justify-content: center;

}

#infoHeader{
    display: flex;
    width: 70%;
    float: left;
}
    

#infoHeader h1{
    font-size: clamp(2vw,4vw,8vw);
    color: var(--color-blanco);
    font-family: var(--fuente-titulos);
}

section{
    width: 46%;
    float: left;
    padding: 1vh 1vw;
    border: 2px outset rgb(44, 0, 50); 
    margin: 2%; /*REm*/
    background-color: #adc4ff;
    box-shadow: 0 5px 5px rgba(53, 53, 53, 0.7);
    border-radius: 8px;
}


.video1section2{
    text-align: center;
    margin: 1vw;
}

#mascara {
    margin: 5%;
}

#myVideo{
    width: 50%;
    text-align: center;
    margin: 10px 25%;
    
}
.boton{
    width: 100%;
    text-align: center;
}

#myBtn{
    width: 10vw;
    font-size: 18px;
    padding: 1rem;
    border: none;
    background-color: #537fee;
    color: black;
    justify-content: center;
    border-radius: 5px;
    color: white;
    transition: background-color 0.3s ease;
}
#myBtn:hover{
    cursor: pointer;
    background-color: rgb(0, 50, 255);
}

#soundBtn{
    width: 10vw;
    padding: 1rem;
    cursor: pointer;
    border: none;
    background-color: rgb(0, 0, 0,0);

}

footer {
    display: flex;
    background-color: var(--color-azul-principal);
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-top: auto; 
}

#comercio, #miembros, #php{
    height: 100%;
}

#comercio{
    width: 32%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#comercio img{
    width: 30%;
}

#miembros{
    width: 36%;
    text-align: center;
    color: gold;
}
#miembros p {
    margin: 0.75rem;
}

#php{
    width: 32%;
}

#php p{
    text-align: center;
    color:rgb(255, 255, 255);
    margin: 0.75rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}
