:root {

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

main {
    background-image: url("media/40spIkbEsTnWd.jpg!w700wp.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    margin: 3vh 1vw ;
    width: 100vw;
    height: 90vh;
}

main img {
    position: absolute;
    top: 0;
    left: 0;
}
#reno{
    width: 4vw;
    top: 350px;
    left: 630px;
}

#bola_navidad{
    width: 4vw;
    top: 350px;
    left: 630px;
}

aside{
    background-color: red;
}