:root {
    --primary-color: #4CAF50;
    --secondary-color: #f4f4f4;
    --text-color: #333;
    --font-family: Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    margin: 0;
    font-family: var(--font-family);
    color: var(--text-color);
}

header {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    text-align: center;
}

main {
    display: flex;
    margin: 0;
    width: 100%;
}

.contenedor {
    flex: 3;
    padding: 1rem;
    margin: 0 3vw;;
}

aside {
    flex: 1;
    background-color: var(--secondary-color);
    padding: 1rem;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 1rem;
}

h2,
h1,
h3 {
    margin: 1vh 0;
}

ul {
    padding-left: 1.5rem;
    margin: 1vh 0 1.5vh 0;
}

li {
    margin: 0.75vh 0;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Contenedor prácticas */
.practicaContenedor {
    display: grid;
    gap: 2vh;
    justify-items: center;
    margin: 1.5rem auto;
    max-width: 60%;
    grid-template-columns: repeat(3, 1fr);
}

/*Círculos */
.practicaCirculo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: white;
    font-weight: bold;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    transition: transform 0.15s ease 0.15s;
}

.practicaCirculo:hover {
    transform: scale(1.2);
}

.practicaCirculo p {
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    text-align: center;
    padding: 5px 0;
    box-sizing: border-box;
}

.practicaCirculo:hover p {
    background: rgba(0, 0, 0, 0.8);
}

/*Imagen Practica*/
.practica1 {
    background-image: url("imgs/rugby.png");
}

.practica2 {
    background-image: url("imgs/instagram.png");
}

.practica3 {
    background-image: url("imgs/eventoHalloween.png");
}

.practica4 {
    background-image: url("imgs/tema4.png");
}

.practica5 {
    background-image: url("imgs/imagen5.jpg");
}




@media (max-width: 1024px) {
    .practicaContenedor {
        grid-template-columns: repeat(3, 1fr);
    }

    .practicaCirculo {
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 768px) {
    main {
        flex-direction: column;
    }

    aside,
    .contenedor {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .practicaContenedor {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
    }

    .practicaCirculo {
        width: 90px;
        height: 90px;
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .practicaContenedor {
        grid-template-columns: repeat(1, 1fr);
    }

    .practicaCirculo {
        width: 80px;
        height: 80px;
    }
}