:root {
    --primary-color: #4CAF50;
    --secondary-color: #f4f4f4;
    --text-color: #333;
    --font-family: Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    margin: 0;
    font-family: var(--font-family);
    color: var(--text-color);
}

header {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    text-align: center;
}


main {
    display: flex;
    margin: 0;
    width: 100%;
}

.contenedor {
    flex: 3;
    padding: 1rem;
}

aside {
    flex: 1;
    background-color: var(--secondary-color);
    padding: 1rem;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 1rem;
}

h2 {
    margin-top: 0;
}

ul {
    padding-left: 1.5rem;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Contenedor de las prácticas */
.practicaContenedor {
    display: grid;
    gap: 2vh;
    justify-items: center;
    margin: 1.5rem auto;
    max-width: 60%;
    grid-template-columns: repeat(3, 1fr);
}

/* Estilo de los círculos */
.practicaCirculo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: white;
    font-weight: bold;
    position: relative;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    transition: transform 0.15s ease 0.15s ;
}
.practicaCirculo:hover {
    transform: scale(1.2); 
}

.practicaCirculo p {
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    text-align: center;
    padding: 5px 0;
    box-sizing: border-box;
}

.practicaCirculo:hover p {
    background: rgba(0, 0, 0, 0.8);
}

/* Imágenes específicas para cada práctica */
.practica1 {
    background-image: url("imgs/rugby.png");
    /* Ruta de la imagen */
}

.practica2 {
    background-image: url("imgs/instagram.png");
    /* Ruta de la imagen */
}

.practica3 {
    background-image: url("imgs/eventoHalloween.png");
    /* Ruta de la imagen */
}

.practica4 {
    background-image: url("imgs/tema4.png");
    /* Ruta de la imagen */
}

.practica5 {
    background-image: url("imgs/imagen5.jpg");
    /* Ruta de la imagen */
}




@media (max-width: 768px) {
    .container {
        flex-wrap: wrap;
    }

    aside,
    main {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .practicaContenedor {
        grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
        gap: 15px;
    }

    .practicaCirculo {
        width: 90px;
        height: 90px;
        font-size: 12px;
    }
}