@font-face {
    font-family: 'Electrica';
    src: url('fonts/electrical.ttf') format('truetype');
}

:root{
    --corriente-delay:6s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 1200px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

section {
    width: 600px;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    background-color: #f9f9f9;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    font-family: 'Electrica', 'Courier New', Courier, monospace;
    font-size: 1rem;
    margin-bottom: 2vh;
}


.cont_ser>div,
.cont_par>div {
    position: absolute;
}

.bombilla_ser1,
.bombilla_ser2,
.bombilla_par1,
.bombilla_par2,
.corriente_ser,
.corriente_par1,
.corriente_par2 {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: yellow;
    opacity: 0.75;
}

.corriente_ser {
    position: absolute;
    left: 185px;
    top: 150px;
    animation: recorrer 6s var(--corriente-delay) linear infinite, parpadeo 0.75s infinite alternate;
}

@keyframes recorrer {
    0% {
        left: 185px;
        top: 150px
    }

    10% {
        left: 185px;
        top: 80px;
    }

    35% {
        top: 80px;
        left: 413px;
    }

    60% {
        top: 258px;
        left: 413px;
    }

    85% {
        top: 250px;
        left: 185px;
    }

}

@keyframes parpadeo {
    0% {
        opacity: 0.5;
        transform: scale(1);
    }

    100% {
        opacity: 1;
        transform: scale(1.5);
    }
}

.bombilla_ser1 {
    position: absolute;
    left: 413px;
    top: 120px;
    opacity: 0;
    animation: encender 0.5s calc(2.4s + var(--corriente-delay)) forwards;
}

.bombilla_ser2 {
    position: absolute;
    left: 413px;
    top: 210px;
    opacity: 0;
    animation: encender 0.5s calc(3s + var(--corriente-delay)) forwards;
}

.bombilla_par1 {
    position: absolute;
    left: 925px;
    top: 135px;
    opacity: 0;
    animation: encender 0.5s calc(3s + var(--corriente-delay)) forwards;
}

.bombilla_par2 {
    position: absolute;
    left: 1020px;
    top: 135px;
    opacity: 0;
    animation: encender 0.5s calc(2.8s + var(--corriente-delay)) forwards;

}

.corriente_par2 {
    position: absolute;
    left: 756px;
    top: 130px;
    animation: recorrerP2 6s var(--corriente-delay) linear infinite, parpadeo 1.5s infinite alternate;
}

.corriente_par1 {
    position: absolute;
    left: 756px;
    top: 130px;
    animation: recorrerP1 6s var(--corriente-delay) linear infinite, parpadeo 1.5s infinite alternate;

}

@keyframes encender {
    0% {
        opacity: 0%;
    }
    100%{
        opacity: 70%;
    }
    
}


@keyframes recorrerP1 {
    0% {
        left: 756px;
        top: 130px;
    }

    12% {
        left: 756px;
        top: 85px;
    }

    37% {
        left: 925px;
        top: 85px;

    }

    62% {
        left: 925px;
        top: 190px;
    }

    87% {
        left: 756px;
        top: 190px;
    }

}

@keyframes recorrerP2 {
    0% {
        left: 756px;
        top: 130px;
    }

    12% {
        left: 756px;
        top: 85px;
    }

    37% {
        left: 925px;
        top: 85px;

    }

    43% {
        left: 1020px;
        top: 85px;

    }

    55% {
        left: 1020px;
        top: 190px;

    }

    62% {
        left: 925px;
        top: 190px;
    }

    87% {
        left: 756px;
        top: 190px;

    }

}