body {
    background-color: #f4f4f4;
    color: #000000;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.8rem;
}

h1 {
    font-size: 34px;
    text-transform: uppercase;
    background-color: #9b3333;
    color: #ff0000;
}

h2 {
    font-size: 30px;
    text-transform: uppercase;
    color: #000000;
    background-color: #ffc6c6;
    padding: 12px;
}

h3 {
    font-size: 28px;
    text-transform: uppercase;
    background-color: #ffc6c6;
    padding: 12px;
}

h4 {
    font-size: 24px;
    text-transform: uppercase;
    background-color: #ffc6c6;
    padding: 12px;
}

p {
    margin-bottom: 10px;
    text-align: justify;
}

.content-box {
    background-color: #ffffff;
    color: #000000;
    padding: 12px;
    margin: 20px 0;
}

a {
    color: #0000ff;
}

.p1 {
    background-color: #d8d8d8;
    padding: 1.5rem;
}

.p2 {
    background-color: #d8d8d8;
    padding: 1.5rem;
}

.p3 {
    background-color: #d8d8d8;
    padding: 1.5rem;
}