/*// BASE STYLES //*/
:root {}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.camino {
    width: 80vw;
    height: 10vh;
    background-color: dimgrey;
    margin: 5vw 0;
}

.linea {
    border: 3px dashed #fff;
    height: 0px;
    position: relative;
    top: 45%;
}