:root {}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.camino {
    width: 80vw;
    height: 80px;
    background-color: dimgrey;
    margin: 6vh 0;
    position: relative;
}


body {
    text-align: center;
}

.camino h2 {
    opacity: 0;
    transition: opacity 1.5s ease-in;
}

.corredor {
    position: absolute;
    width: 90px;
    z-index: 2;
    top: -30px;
    left: 0px;
    transition: left 1s;
}

.linea {
    border: 3px dashed #ff0000;
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
    width: 80vw;
}


.boton {
    text-align: center;
    margin-top: 20px;
}

#miboton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#miboton:hover {
    background-color: #45a049;
}