:root {
    --primary-color: #4CAF50;
    --secondary-color: #f4f4f4;
    --text-color: #333;
    --font-family: Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} */

.main {
    display: flex;
    width: 100%;
    height: 100%;
}

.section {
    position: absolute;
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    transition: all 0.5s ease;
}

.section:nth-child(1) {
    background-color: #ff6f61;
    top: 0;
    left: 0;
}

.section:nth-child(2) {
    background-color: #6b5b95;
    top: 0;
    right: 0;
}

.section:nth-child(3) {
    background-color: #88b04b;
    bottom: 0;
    left: 0;
}

.section:nth-child(4) {
    background-color: #f7cac9;
    bottom: 0;
    right: 0;
}