* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

@font-face {
    font-family: AnotherDanger;
    src: url(fonts/another_danger/Another\ Danger\ -\ Demo.otf);
}

@font-face {
    font-family: TwistedHalloween;
    src: url(fonts/twisted_halloween/TwistedHalloween_PERSONAL_USE_ONLY.otf);
}

.enlace a{
    color: #cb0000;
}

h1 {
    font-size: 32px;
    color: #cb0000;
}

h2 {
    font-size: 26px;
    color: #a10684;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 20px;
    line-height: 1.6;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}


/* -----Section */

.contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centrar contenido */
}

.grupo {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px;
}

.colores {
    width: 40%;

}

.fuentes {
    width: 60%;

}

.colores,
.fuentes,
.enlaces,
.formulario {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 0 10px;
}

/*-----------------*/


/* ---Section colores---*/
.color-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.color-item {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 30%;
    margin-bottom: 10px;
}

.color-sample {
    width: 100px;
    height: 30px;
    display: inline-block;
    margin-right: 20px;
    border: 1px solid #ccc;
}

.color-item span {
    font-size: 14px;
    color: #333;
}

/*------*/
/*---------Fuentes*/
.contenidoFuentes {
    display: flex;
    justify-content: space-between;
    margin: 10px 5px 0 5px;
}

.contenidoFuentes .cabeceras,
.body,
.header {
    width: 32%;
    margin-right: 10px;
    /* Espacio entre columnas */
}

.cabeceras,
.body,
.header {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/*-------------*/
/*Enlaces y formulario*/

.contenidoEnlaces {
    background-color: #f9f9f9;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.enlaces {
    width: 30%;
}

.formulario {
    width: 70%;
}

.contenidoFormulario {
    display: flex;
    justify-content: space-between;
    margin: 10px 5px 0 5px;
}

.contenidoFormulario .entradas,
.botones{
    width: 49%;
    margin-right: 10px;
    /* Espacio entre columnas */
}

.entradas,
.botones{
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/*------------------*/

footer {
    background-color: #444;
    /* Color de fondo del footer */
    color: #ffffff;
    /* Color del texto */
    text-align: center;
    /* Alinear texto al centro */
    position: relative;
    width: 100%;
}


/*Halloween Estilos*/

.h1halloween {
    font-family: TwistedHalloween;
    font-size: 46px;

}
.h2halloween {
    font-family: TwistedHalloween;
    font-size: 26px;
}
.h3halloween {
    font-family: TwistedHalloween;
    font-size: 22px;
}
.headerHalloween {
    font-family: AnotherDanger;
    font-size: 68px;
}
.aHalloween {
    text-decoration: underline;
    color: #a10684;
    font-weight: bold;
    transition: color 0.5s;
}
.aHalloweenHover {
    text-decoration: underline;
    font-weight: bold;
    transition: color 0.5s;
    color: #e99f00;
    text-shadow: 0 0 5px #ffff0080;
}
button {
    background-color: #a10684;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    font-size: 16px;
    font-family: TwistedHalloween;
    letter-spacing: 2px;
}
.buttonHover{
    margin-top: 10px;
    background-color: #ff0000;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    font-size: 16px;
    font-family: TwistedHalloween;
    letter-spacing: 2px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.formulario input,
.formulario select,
.formulario textarea {
    width: 50%;
    padding: 12px;
    border: 2px solid #da71d7ce;
    border-radius: 5px;
    background-color: #444;
    color: #ffffff;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.textareaC{
    margin-top: 10px;;
    width: 50%;
    padding: 12px;
    border: 2px solid #da71d7ce;
    border-radius: 5px;
    background-color: #444;
    color: #ffffff;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

 .formulario input:focus,
.formulario select:focus,
.formulario textarea:focus {
    border-color: #ec0000;
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.8);
}  

.radio{
    margin-top: 15px;
}

.textHover{
    margin-top: 10px;
    border: 5px solid #ec0000;
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.8);
}

.radio {
    display: flex;
    align-items: center;
}

.radio textarea {
    resize: none;
    width: 100%;
}

.radio label {
    color: #ffffff;
}
.aHalloweenNavHover{
    font-weight: bold;
    font-size: 20px;
    color: #ffcc00;
    text-shadow: 0 0 5px #ffff00cc;
}

.aHalloweenNav {
    font-weight: bold;
    color: #b95900;
    font-size: 20px;
}